@font-face {
    font-family: 'Norse Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Norse Regular'), url('Norse.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Norse Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Norse Bold'), url('Norsebold.woff') format('woff');
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body{
    height: 100%;
  }
  
  body {
    color: #202020;
    background-color: white;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 24px;    
    font-weight: bolder;
    /* line-height: 1.3; */
    display: flex;
    min-height: 750px;
    /* align-items: center; */
  }
  .left{
    position: relative;
    max-width: 34%;
    min-width: 250px;
    min-height: calc(38% - (150px));
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
 
  .large_image{
    object-fit: cover;
    width: 100%;

  }
  .logo{
    position:absolute;
    height: 150px;
    /* height:calc(25% + (150px) ); */
    left: 0; top: calc(38% - (150px)); right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dark_background{
    height:100%;
    width: 100%;
    background-color: black;
    opacity: 40%;
  }
  .odin_image_text{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .odin_image{
    /* position: absolute; */
    height: 80%;
    
  }
  .odin_text{
    font-family: 'Norse Bold', Norse-Bold, sans-serif;
    color: #EAEDF0;
    font-size: 80px;
  } 
  .right{
    width: 70%;
    /* min-width: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

  .right_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color:  	#E8E8E8;
    height: 38%;
    /* padding: 40px; */
    padding: 0px 40px 40px 40px;
    gap: 20px;
  }
  .sign_up_area{
    padding: 20px 40px 20px 40px;
    box-shadow: 0px 0px 10px black;
    clip-path: inset(0px 0px -15px 0px); 
    height: 24%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .submit_area{
    display: flex;
    flex-direction: column;
    background-color:  	#E8E8E8;
    
    /* height:calc(25% + (150px) ); */
    height: 38%;
    
    padding: 40px;
    font-family: "Helvetica", "Arial", sans-serif;
    gap: 30px;
    font-size: 18px;
    
  }
  .log_in{
    font-weight: normal;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .log_in_link{
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color: #596D48;
  }
 button{
    background-color: #596D48;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: whitesmoke;
    font-size: 16px;
    padding: 13px 50px 13px 50px;
    box-shadow: 5px 5px 5px lightgray;
 }
 .form{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
       height: 100%;
    padding-bottom: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 .form_row{
    font-weight: normal;
    font-size: 12px;
    display: flex;
    gap: 80px;
   
 }
    .form_row input[type='text'],
    .form_row input[type='email'],
    .form_row input[type='tel']{
     appearance: none;
     outline: none;
  }
  
 
  .form_row input[type='text']:focus,
  .form_row input[type='email']:focus,
  .form_row input[type='tel']:focus{
   
    border: 1px solid blue;
    box-shadow: 3px 3px 5px #888888;
   
  }
 .form_row input[type='text'],
 .form_row input[type='email'],
 .form_row input[type='tel'],
 .form_row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 250px;
    padding: 5px;
    font-size: 14px;
  }
  .form_label_input{
    display: flex;
    flex-direction: column;
  }
  .form_row input[type='password']{
    border: 1px solid red;
  }
  .error{
    border: 2px solid blue;
  }
  
  
